/// PROCESS VARS MIXIN
/// A reusable looper that generates custom property rules
///
/// @param {map} $passed-vars - A collection of keys and values
///
@use 'get-namespace';

@mixin process-vars($passed-vars) {
  $namespace: get-namespace.get-namespace('css-vars');

  @each $var, $items in $passed-vars {
    @each $key, $value in $items {
      --#{$namespace + $var + '-' + $key}: #{$value};
    }
  }
}
