@import 'workers/cycle';

/// Only run if there should be an output
@if ($outputTokenCSS == true) {
  $cssVars: map-get($gorko-config, 'css-vars');

  @if ($cssVars) {
    // Generate custom properties for each CSS var
    :root {
      @each $var, $items in $cssVars {
        @each $key, $value in $items {
          --#{$var + '-' + $key}: #{$value};
        }
      }
    }
  }

  /// Run the standard cycle first
  @include cycle('', false);

  /// For each breakpoint, generate a prefix and run the cycle
  @each $key, $value in map-get($gorko-config, 'breakpoints') {
    $prefix: #{$key + '\\:'};
    $is-breakpoint: true;

    @media #{$value} {
      @include cycle($prefix, $is-breakpoint);
    }
  }
}
